<a href="https://colab.research.google.com/github/Ayman-Abdeen/DataAnalysis-A/blob/main/Data_Summarization_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import xlrd

In [2]:
!pip install pyxlsb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyxlsb
  Downloading pyxlsb-1.0.9-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.9

In [4]:
Unplanned = pd.read_excel("Accumulated Outage week_X.xlsb",'Unplanned Site')
Planned = pd.read_excel("Accumulated Outage week_X.xlsb",'Planned Site')

In [5]:
Unplanned.head()

,siteid,site,cells,cellcount,controller,rbstype,area,number_of_cascaded,tier,eventtime,...,orgaccesstype,hub_site,dependency_reason,notcascaded,zone_1_2,celltype,majorproblem,sub_majorproblem,site_with_cascaded,MR_CP
0,LCAI2177,CAI2177,LCAI2177_21771_N_E_D2-1 LCAI2177_21772_N_E_D2...,9,LTE,LTE_NODE,Downtown,0,Tier2,44792.389525,...,Access_Dependency_limited,NaN,NaN,Not Cascaded,Zone2,LTE,Other,Other_Unknown_Reason,CAI2177,NaN
1,UCAI3088,CAI3088,UCAI1791 UCAI1792 UCAI1793 UCAI1794 UCAI30881...,12,VRX07,Macro,Tagamo3,0,Tier3,44791.771887,...,NaN,NaN,NaN,Not Cascaded,Zone1,3G,Under_ROT,Under_ROT,CAI3088,NaN
2,UCAI3088,CAI3088,UCAI1791 UCAI1792 UCAI1793 UCAI1794 UCAI30881...,12,VRX07,Macro,Tagamo3,0,Tier3,44791.771887,...,NaN,NaN,NaN,Not Cascaded,Zone1,3G,Under_ROT,Under_ROT,CAI3088,NaN
3,CAI3088,CAI3088,3088A 3088B 3088C 3088D,4,VBX19,Macro,Tagamo3,0,Tier3,44795.443148,...,NaN,NaN,NaN,Not Cascaded,Zone1,2G,Under_ROT,Under_ROT,CAI3088,NaN
4,UCAI3088,CAI3088,UCAI1791 UCAI1792 UCAI1793 UCAI1794 UCAI30881...,12,VRX07,Macro,Tagamo3,0,Tier3,44791.771887,...,NaN,NaN,NaN,Not Cascaded,Zone1,3G,Under_ROT,Under_ROT,CAI3088,NaN

In [6]:
Planned.head()

,Site,Cells,CellsCount,Controller,RBSType,Region,NumberOfCascaded,nm_tier,EventTime,CeaseTime,...,SharingType,SharingOp,LastPM,GeneratorType,MTTR,WhiteList,DateOfOutage,Vendor,FilledBy,MR_CP
0,CAI3793,3793A 3793B 3793C 3793D,4,KBX40,Macro,Gesr El Suiz,0,Tier2,44793.614560,44793.789213,...,NaN,NaN,NaN,NaN,251,False,44793,ERICSSON,NOC,NaN
1,UCAI3793,UCAI37931 UCAI37932 UCAI37933 UCAI37934 UCAI3...,12,KRX08,Macro,Gesr El Suiz,0,Tier2,44793.614491,44793.788461,...,NaN,NaN,NaN,NaN,250,False,44793,ERICSSON,NOC,NaN
2,ULCAI0649,LCAI0649_06491_N_H_D6-1 LCAI0649_06492_N_H_D6...,3,LTE_Huawei,LTE_NODE,Helwan,0,Tier3,44793.194699,44793.341273,...,NaN,NaN,NaN,NaN,211,False,44793,Huawei,NaN,NaN
3,HUCAI0649,HU6494 HU6495 HU6496 HU6497 HU6498 HU6499 HU5...,13,PRH37,Macro,Helwan,0,Tier2,44793.111285,44793.257963,...,NaN,NaN,NaN,NaN,211,False,44793,Huawei,NaN,NaN
4,ULCAI3555,LCAI3555_35551_N_H_D6-1 LCAI3555_35552_N_H_D6...,3,LTE_Huawei,Macro,Helwan,0,Tier3,44793.194699,44793.341238,...,NaN,NaN,NaN,NaN,211,False,44793,Huawei,NaN,NaN

In [7]:
Unplanned.columns

Index(['siteid', 'site', 'cells', 'cellcount', 'controller', 'rbstype', 'area',
       'number_of_cascaded', 'tier', 'eventtime', 'ceasedtime', 'duration',
       'duration_hr', 'violated', 'comment', 'sla', 'suggestedreason',
       'category', 'subcategory', 'resolutionaction', 'rootcause', 'access',
       'access_type', 'access_reason', 'access_start', 'access_end',
       'access_duration', 'excused', 'battery_status',
       'battery_installation_date', 'power_type', 'in_od', 'deal_type',
       'sharing_type', 'sharing_op', 'last_pm', 'generator_type', 'mttr',
       'whitelist', 'dateid', 'vendor', 'filled_by', 'orgcategory',
       'orgsubcategory', 'orgaccess', 'orgaccesstype', 'hub_site',
       'dependency_reason', 'notcascaded', 'zone_1_2', 'celltype',
       'majorproblem', 'sub_majorproblem', 'site_with_cascaded', 'MR_CP'],
      dtype='object')

In [8]:
Planned.columns

Index(['Site', 'Cells', 'CellsCount', 'Controller', 'RBSType', 'Region',
       'NumberOfCascaded', 'nm_tier', 'EventTime', 'CeaseTime', 'Duration',
       'Violated', 'Comment', 'SLA', 'SuggestedReason', 'Category',
       'SubCategory', 'ResolutionAction', 'RootCause', 'Access', 'AccessType',
       'AccessReason', 'AccessStart', 'AccessEnd', 'AccessDuration', 'Excused',
       'BatteryStatus', 'BatteryInstallationDate', 'PowerType', 'ID/OD',
       'DealType', 'SharingType', 'SharingOp', 'LastPM', 'GeneratorType',
       'MTTR', 'WhiteList', 'DateOfOutage', 'Vendor', 'FilledBy', 'MR_CP'],
      dtype='object')

In [9]:
df_Unplanned = Unplanned[['siteid','category', 'subcategory','area','duration', 'dateid', 'controller']]
df_Unplanned

,siteid,category,subcategory,area,duration,dateid,controller
0,LCAI2177,Access,Other_Unknown_Reason,Downtown,298,44793,LTE
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44793,VRX07
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44794,VRX07
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,44795,VBX19
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44795,VRX07
...,...,...,...,...,...,...,...
33528,UCAI2310,Transmission_Ericsson,Transmission_BER,Downtown,6,44796,JRX13
33529,CAI2310,Transmission_Ericsson,Transmission_HW,Downtown,0,44796,CBX36
33530,UCAI3451,Under_ROT,Under_ROT,Tagamo3,1440,44799,VRX07
33531,LCAI3954,Under_ROT,Under_ROT,Tagamo3,1440,44799,LTE
33532,UCAI5837,Under_ROT,Under_ROT,Tagamo3,1440,44799,VRX07

In [10]:
df_Planned = Planned[['Site','Category', 'SubCategory','Region','Duration', 'DateOfOutage' ,'Controller']]
df_Planned

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller
0,CAI3793,Planned,Planned,Gesr El Suiz,251,44793,KBX40
1,UCAI3793,Planned,Planned,Gesr El Suiz,250,44793,KRX08
2,ULCAI0649,Planned,Planned,Helwan,211,44793,LTE_Huawei
3,HUCAI0649,Planned,Planned,Helwan,211,44793,PRH37
4,ULCAI3555,Planned,Planned,Helwan,211,44793,LTE_Huawei
...,...,...,...,...,...,...,...
3333,HUCAI4502,Planned,Planned,Helwan,3,44799,YRH35
3334,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3335,LCAI2023,Planned,Planned,Mohandesen,9,44799,LTE_Huawei
3336,HUCAI5257,Planned,Planned,Giza,0,44799,YRH24
3337,HUCAI3308,Planned,Planned,Giza,0,44799,YRH24

In [11]:
columnsName = ['Site','Category', 'SubCategory','Region','Duration', 'DateOfOutage' ,'Controller']

df_Planned.columns = columnsName
df_Unplanned.columns = columnsName

In [12]:
frames =[df_Unplanned,df_Planned]
allrecords = pd.concat(frames)
allrecords

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller
0,LCAI2177,Access,Other_Unknown_Reason,Downtown,298,44793,LTE
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44793,VRX07
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44794,VRX07
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,44795,VBX19
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44795,VRX07
...,...,...,...,...,...,...,...
3333,HUCAI4502,Planned,Planned,Helwan,3,44799,YRH35
3334,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3335,LCAI2023,Planned,Planned,Mohandesen,9,44799,LTE_Huawei
3336,HUCAI5257,Planned,Planned,Giza,0,44799,YRH24
3337,HUCAI3308,Planned,Planned,Giza,0,44799,YRH24

In [13]:
len( allrecords[allrecords['Controller'].str.contains("LTE")] )

8339

In [14]:
new_df = allrecords[~allrecords["Controller"].str.contains("LTE")]
new_df

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44793,VRX07
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44794,VRX07
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,44795,VBX19
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44795,VRX07
5,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44796,VRX07
...,...,...,...,...,...,...,...
3332,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3333,HUCAI4502,Planned,Planned,Helwan,3,44799,YRH35
3334,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3336,HUCAI5257,Planned,Planned,Giza,0,44799,YRH24
3337,HUCAI3308,Planned,Planned,Giza,0,44799,YRH24

In [15]:
new_df['Duration'].div(60)

1       24.00
2       24.00
3        8.05
4       24.00
5       24.00
        ...
3332     0.00
3333     0.05
3334     0.00
3336     0.00
3337     0.00
Name: Duration, Length: 28532, dtype: float64

In [16]:
new_df['Duration_Hr'] = new_df['Duration'].div(60)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
new_df

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller,Duration_Hr
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44793,VRX07,24.00
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44794,VRX07,24.00
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,44795,VBX19,8.05
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44795,VRX07,24.00
5,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44796,VRX07,24.00
...,...,...,...,...,...,...,...,...
3332,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24,0.00
3333,HUCAI4502,Planned,Planned,Helwan,3,44799,YRH35,0.05
3334,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24,0.00
3336,HUCAI5257,Planned,Planned,Giza,0,44799,YRH24,0.00
3337,HUCAI3308,Planned,Planned,Giza,0,44799,YRH24,0.00

In [18]:
print(xlrd.xldate_as_datetime(44793, 0).date())

2022-08-20

In [19]:
new_df['DateOfOutage'] = new_df['DateOfOutage'].apply(lambda x : xlrd.xldate_as_datetime(x, 0).date())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
new_df

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller,Duration_Hr
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-20,VRX07,24.00
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-21,VRX07,24.00
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,2022-08-22,VBX19,8.05
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-22,VRX07,24.00
5,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-23,VRX07,24.00
...,...,...,...,...,...,...,...,...
3332,HUCAI2608,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00
3333,HUCAI4502,Planned,Planned,Helwan,3,2022-08-26,YRH35,0.05
3334,HUCAI2608,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00
3336,HUCAI5257,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00
3337,HUCAI3308,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00

In [21]:
 new_df['SubCategory'].str.contains('ROT')

1        True
2        True
3        True
4        True
5        True
        ...
3332    False
3333    False
3334    False
3336    False
3337    False
Name: SubCategory, Length: 28532, dtype: bool

In [22]:
new_df['ParkedOrROT']='Other reason'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
new_df.loc[new_df['Duration'] == 1440 , 'ParkedOrROT'] = "Parked"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [35]:
new_df.loc[new_df['SubCategory'] == 'Under_ROT', 'ParkedOrROT'] = 'ROT'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [25]:
new_df['NCategory']=new_df['Category']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
new_df.loc[new_df['NCategory'].str.contains('Transmission'), 'NCategory'] =  "Transmission"

In [27]:
new_df['NCategory'] = new_df['NCategory'].apply(lambda x: "Non-technical" if "Damaged_Stolen" in x or "Missing_Spare_parts"  in x or "Dependency_Huawei"  in x or "HUAWEI_FM"  in x or "Under_ROT"  in x else x)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
new_df

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller,Duration_Hr,ParkedOrROT,NCategory
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-20,VRX07,24.00,ROT,Non-technical
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-21,VRX07,24.00,ROT,Non-technical
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,2022-08-22,VBX19,8.05,ROT,Non-technical
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-22,VRX07,24.00,ROT,Non-technical
5,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,2022-08-23,VRX07,24.00,ROT,Non-technical
...,...,...,...,...,...,...,...,...,...,...
3332,HUCAI2608,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00,Other reason,Planned
3333,HUCAI4502,Planned,Planned,Helwan,3,2022-08-26,YRH35,0.05,Other reason,Planned
3334,HUCAI2608,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00,Other reason,Planned
3336,HUCAI5257,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00,Other reason,Planned
3337,HUCAI3308,Planned,Planned,Giza,0,2022-08-26,YRH24,0.00,Other reason,Planned

In [31]:
groupeddf = new_df.groupby("NCategory").count()
groupeddf

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller,Duration_Hr,ParkedOrROT
NCategory,,,,,,,,,
Access,502,502,502,502,502,502,502,502,502
BSS,404,404,404,404,404,404,404,404,404
High_Temp,249,249,249,249,249,249,249,249,249
Non-technical,3006,3006,3006,3006,3006,3006,3006,3006,3006
Other,3321,3321,3321,3321,3321,3321,3321,3321,3321
Planned,2815,2815,2815,2815,2815,2815,2815,2815,2815
Power,9835,9835,9835,9835,9835,9835,9835,9835,9835
Transmission,8400,8400,8400,8400,8400,8400,8400,8400,8400

In [32]:
SumOfDuration_HrNCategory=new_df.groupby("NCategory").sum("Duration_Hr")
SumOfDuration_HrNCategory

               Duration  Duration_Hr
NCategory
Access           165510  2758.500000
BSS                6996   116.600000
High_Temp          9172   152.866667
Non-technical    226170  3769.500000
Other              8866   147.766667
Planned           51166   852.766667
Power            312886  5214.766667
Transmission      21814   363.566667

In [41]:
SumOfDuration_HrNCategory["Duration_Hr"].sum()

13376.333333333334

In [44]:
SumOfDuration_HrNCategory["Total_Lost_Hours"]=np.abs(SumOfDuration_HrNCategory["Duration_Hr"].sub(SumOfDuration_HrNCategory["Duration_Hr"].sum()))

In [45]:
SumOfDuration_HrNCategory

               Duration  Duration_Hr  Total_Lost_Hours
NCategory
Access           165510  2758.500000      10617.833333
BSS                6996   116.600000      13259.733333
High_Temp          9172   152.866667      13223.466667
Non-technical    226170  3769.500000       9606.833333
Other              8866   147.766667      13228.566667
Planned           51166   852.766667      12523.566667
Power            312886  5214.766667       8161.566667
Transmission      21814   363.566667      13012.766667

In [37]:
SumOfDuration_HrParkedOrROT=new_df.groupby("ParkedOrROT").sum("Duration_Hr")
SumOfDuration_HrParkedOrROT

              Duration   Duration_Hr
ParkedOrROT
Other reason    601165  10019.416667
Parked          131040   2184.000000
ROT              70375   1172.916667

In [38]:
SumOfDuration_HrParkedOrROTCount=new_df.groupby("ParkedOrROT").count()
SumOfDuration_HrParkedOrROTCount

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller,Duration_Hr,NCategory
ParkedOrROT,,,,,,,,,
Other reason,28350,28350,28350,28350,28350,28350,28350,28350,28350
Parked,91,91,91,91,91,91,91,91,91
ROT,91,91,91,91,91,91,91,91,91

In [39]:
SumOfDuration_HrRegion=new_df.groupby("Region").sum("Duration_Hr")
SumOfDuration_HrRegion

              Duration  Duration_Hr
Region
Delta            46704   778.400000
Downtown        102593  1709.883333
Gesr El Suiz    113831  1897.183333
Giza            101597  1693.283333
Helwan           57709   961.816667
Menoufia         65038  1083.966667
Mohandesen       61782  1029.700000
Tagamo3         186232  3103.866667
Zagazig          67094  1118.233333

In [40]:
SumOfDuration_HrDateOfOutage=new_df.groupby("DateOfOutage").sum("Duration_Hr")
SumOfDuration_HrDateOfOutage

              Duration  Duration_Hr
DateOfOutage
2022-08-20      107351  1789.183333
2022-08-21      102117  1701.950000
2022-08-22      107250  1787.500000
2022-08-23      138205  2303.416667
2022-08-24      117814  1963.566667
2022-08-25      119377  1989.616667
2022-08-26      110466  1841.100000