<a href="https://colab.research.google.com/github/Ayman-Abdeen/Ayman-Abdeen-DataAnalysis-A/blob/main/Data_Summarization_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [6]:
!pip install pyxlsb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyxlsb
  Downloading pyxlsb-1.0.9-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.9

In [8]:
Unplanned = pd.read_excel("Accumulated Outage week_X.xlsb",'Unplanned Site')
Planned = pd.read_excel("Accumulated Outage week_X.xlsb",'Planned Site')

In [9]:
Unplanned.head()

,siteid,site,cells,cellcount,controller,rbstype,area,number_of_cascaded,tier,eventtime,...,orgaccesstype,hub_site,dependency_reason,notcascaded,zone_1_2,celltype,majorproblem,sub_majorproblem,site_with_cascaded,MR_CP
0,LCAI2177,CAI2177,LCAI2177_21771_N_E_D2-1 LCAI2177_21772_N_E_D2...,9,LTE,LTE_NODE,Downtown,0,Tier2,44792.389525,...,Access_Dependency_limited,NaN,NaN,Not Cascaded,Zone2,LTE,Other,Other_Unknown_Reason,CAI2177,NaN
1,UCAI3088,CAI3088,UCAI1791 UCAI1792 UCAI1793 UCAI1794 UCAI30881...,12,VRX07,Macro,Tagamo3,0,Tier3,44791.771887,...,NaN,NaN,NaN,Not Cascaded,Zone1,3G,Under_ROT,Under_ROT,CAI3088,NaN
2,UCAI3088,CAI3088,UCAI1791 UCAI1792 UCAI1793 UCAI1794 UCAI30881...,12,VRX07,Macro,Tagamo3,0,Tier3,44791.771887,...,NaN,NaN,NaN,Not Cascaded,Zone1,3G,Under_ROT,Under_ROT,CAI3088,NaN
3,CAI3088,CAI3088,3088A 3088B 3088C 3088D,4,VBX19,Macro,Tagamo3,0,Tier3,44795.443148,...,NaN,NaN,NaN,Not Cascaded,Zone1,2G,Under_ROT,Under_ROT,CAI3088,NaN
4,UCAI3088,CAI3088,UCAI1791 UCAI1792 UCAI1793 UCAI1794 UCAI30881...,12,VRX07,Macro,Tagamo3,0,Tier3,44791.771887,...,NaN,NaN,NaN,Not Cascaded,Zone1,3G,Under_ROT,Under_ROT,CAI3088,NaN

In [10]:
Planned.head()

,Site,Cells,CellsCount,Controller,RBSType,Region,NumberOfCascaded,nm_tier,EventTime,CeaseTime,...,SharingType,SharingOp,LastPM,GeneratorType,MTTR,WhiteList,DateOfOutage,Vendor,FilledBy,MR_CP
0,CAI3793,3793A 3793B 3793C 3793D,4,KBX40,Macro,Gesr El Suiz,0,Tier2,44793.614560,44793.789213,...,NaN,NaN,NaN,NaN,251,False,44793,ERICSSON,NOC,NaN
1,UCAI3793,UCAI37931 UCAI37932 UCAI37933 UCAI37934 UCAI3...,12,KRX08,Macro,Gesr El Suiz,0,Tier2,44793.614491,44793.788461,...,NaN,NaN,NaN,NaN,250,False,44793,ERICSSON,NOC,NaN
2,ULCAI0649,LCAI0649_06491_N_H_D6-1 LCAI0649_06492_N_H_D6...,3,LTE_Huawei,LTE_NODE,Helwan,0,Tier3,44793.194699,44793.341273,...,NaN,NaN,NaN,NaN,211,False,44793,Huawei,NaN,NaN
3,HUCAI0649,HU6494 HU6495 HU6496 HU6497 HU6498 HU6499 HU5...,13,PRH37,Macro,Helwan,0,Tier2,44793.111285,44793.257963,...,NaN,NaN,NaN,NaN,211,False,44793,Huawei,NaN,NaN
4,ULCAI3555,LCAI3555_35551_N_H_D6-1 LCAI3555_35552_N_H_D6...,3,LTE_Huawei,Macro,Helwan,0,Tier3,44793.194699,44793.341238,...,NaN,NaN,NaN,NaN,211,False,44793,Huawei,NaN,NaN

In [11]:
Unplanned.columns

Index(['siteid', 'site', 'cells', 'cellcount', 'controller', 'rbstype', 'area',
       'number_of_cascaded', 'tier', 'eventtime', 'ceasedtime', 'duration',
       'duration_hr', 'violated', 'comment', 'sla', 'suggestedreason',
       'category', 'subcategory', 'resolutionaction', 'rootcause', 'access',
       'access_type', 'access_reason', 'access_start', 'access_end',
       'access_duration', 'excused', 'battery_status',
       'battery_installation_date', 'power_type', 'in_od', 'deal_type',
       'sharing_type', 'sharing_op', 'last_pm', 'generator_type', 'mttr',
       'whitelist', 'dateid', 'vendor', 'filled_by', 'orgcategory',
       'orgsubcategory', 'orgaccess', 'orgaccesstype', 'hub_site',
       'dependency_reason', 'notcascaded', 'zone_1_2', 'celltype',
       'majorproblem', 'sub_majorproblem', 'site_with_cascaded', 'MR_CP'],
      dtype='object')

In [13]:
Planned.columns

Index(['Site', 'Cells', 'CellsCount', 'Controller', 'RBSType', 'Region',
       'NumberOfCascaded', 'nm_tier', 'EventTime', 'CeaseTime', 'Duration',
       'Violated', 'Comment', 'SLA', 'SuggestedReason', 'Category',
       'SubCategory', 'ResolutionAction', 'RootCause', 'Access', 'AccessType',
       'AccessReason', 'AccessStart', 'AccessEnd', 'AccessDuration', 'Excused',
       'BatteryStatus', 'BatteryInstallationDate', 'PowerType', 'ID/OD',
       'DealType', 'SharingType', 'SharingOp', 'LastPM', 'GeneratorType',
       'MTTR', 'WhiteList', 'DateOfOutage', 'Vendor', 'FilledBy', 'MR_CP'],
      dtype='object')

In [19]:
df_Unplanned = Unplanned[['siteid','category', 'subcategory','area','duration', 'dateid', 'controller']]
df_Unplanned

,siteid,category,subcategory,area,duration,dateid,controller
0,LCAI2177,Access,Other_Unknown_Reason,Downtown,298,44793,LTE
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44793,VRX07
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44794,VRX07
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,44795,VBX19
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44795,VRX07
...,...,...,...,...,...,...,...
33528,UCAI2310,Transmission_Ericsson,Transmission_BER,Downtown,6,44796,JRX13
33529,CAI2310,Transmission_Ericsson,Transmission_HW,Downtown,0,44796,CBX36
33530,UCAI3451,Under_ROT,Under_ROT,Tagamo3,1440,44799,VRX07
33531,LCAI3954,Under_ROT,Under_ROT,Tagamo3,1440,44799,LTE
33532,UCAI5837,Under_ROT,Under_ROT,Tagamo3,1440,44799,VRX07

In [20]:
df_Planned = Planned[['Site','Category', 'SubCategory','Region','Duration', 'DateOfOutage' ,'Controller']]
df_Planned

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller
0,CAI3793,Planned,Planned,Gesr El Suiz,251,44793,KBX40
1,UCAI3793,Planned,Planned,Gesr El Suiz,250,44793,KRX08
2,ULCAI0649,Planned,Planned,Helwan,211,44793,LTE_Huawei
3,HUCAI0649,Planned,Planned,Helwan,211,44793,PRH37
4,ULCAI3555,Planned,Planned,Helwan,211,44793,LTE_Huawei
...,...,...,...,...,...,...,...
3333,HUCAI4502,Planned,Planned,Helwan,3,44799,YRH35
3334,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3335,LCAI2023,Planned,Planned,Mohandesen,9,44799,LTE_Huawei
3336,HUCAI5257,Planned,Planned,Giza,0,44799,YRH24
3337,HUCAI3308,Planned,Planned,Giza,0,44799,YRH24

In [26]:
columnsName = ['Site','Category', 'SubCategory','Region','Duration', 'DateOfOutage' ,'Controller']

df_Planned.columns = columnsName
df_Unplanned.columns = columnsName

In [28]:
frames =[df_Unplanned,df_Planned]
allrecords = pd.concat(frames)
allrecords

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller
0,LCAI2177,Access,Other_Unknown_Reason,Downtown,298,44793,LTE
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44793,VRX07
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44794,VRX07
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,44795,VBX19
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44795,VRX07
...,...,...,...,...,...,...,...
3333,HUCAI4502,Planned,Planned,Helwan,3,44799,YRH35
3334,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3335,LCAI2023,Planned,Planned,Mohandesen,9,44799,LTE_Huawei
3336,HUCAI5257,Planned,Planned,Giza,0,44799,YRH24
3337,HUCAI3308,Planned,Planned,Giza,0,44799,YRH24

In [29]:
len( allrecords[allrecords['Controller'].str.contains("LTE")] )

8339

In [31]:
new_df = allrecords[~allrecords["Controller"].str.contains("LTE")]
new_df

,Site,Category,SubCategory,Region,Duration,DateOfOutage,Controller
1,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44793,VRX07
2,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44794,VRX07
3,CAI3088,Under_ROT,Under_ROT,Tagamo3,483,44795,VBX19
4,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44795,VRX07
5,UCAI3088,Under_ROT,Under_ROT,Tagamo3,1440,44796,VRX07
...,...,...,...,...,...,...,...
3332,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3333,HUCAI4502,Planned,Planned,Helwan,3,44799,YRH35
3334,HUCAI2608,Planned,Planned,Giza,0,44799,YRH24
3336,HUCAI5257,Planned,Planned,Giza,0,44799,YRH24
3337,HUCAI3308,Planned,Planned,Giza,0,44799,YRH24